.e-emptybutton_button {
    font-family: $fontTexte;
    font-weight: bold;
    color: $colordarkgreen;
    background-color: white;
    padding: 10px;
    margin: 20px;
    width: 220px;
    border-radius: 28px;
    border-width: 4px;
    border-color: $colordarkgreen;
    border-style: solid;
    box-shadow: 1px 1px 5px 2px $colorshadow;

    @include small-up {
        font-size: pxToRem(12);
    }

    @include medium-up {
        font-size: pxToRem(18)
    }

    &:hover {
        cursor: pointer;
        background-color: $colordarkgreen;
        color: $colorwhite;
        box-shadow: none;
        transition: all ease-out 0.4s;
    }

}

.e-fullbutton_button {
    font-family: $fontTexte;
    font-weight: bold;
    color: $colorwhite;
    background-color: $colordarkgreen;
    padding: 10px;
    margin: 20px;
    width: 220px;
    border-radius: 28px;
    border-width: 4px;
    border-color: $colordarkgreen;
    border-style: solid;
    box-shadow: 1px 1px 5px 2px $colorshadow;

    @include small-up {
        font-size: pxToRem(12);
    }

    @include medium-up {
        font-size: pxToRem(18)
    }

    &:hover {
        cursor: pointer;
        box-shadow: none;
        transition: all ease-out 0.4s;
    }
}