.e-cgutitre_p {
  font-family: $fontTexte;
  font-size: 14px;
  font-weight: bold;
  color: $colordarkgreen;
}

.e-cgucontenu_p {
  font-family: $fontTexte;
  font-size: 14px;
  color: $colordarkgreen;
}