.e-formlist{
    @include small-up {
        font-size: pxToRem(12);
    }

    @include medium-up {
        font-size: pxToRem(18);
    }
}

.e-formlist__adresse{
    color: red;
}

.e-formlist__titre{
    @include small-up {
        margin-left: 5px;
    }

    @include medium-up {
        margin-left: 12px;
    }
}

.e-formlist__input{
    border-color: $colordarkgreen;
    border-style: solid;
    border-radius: 5px;
    @include small-up {
        height: 20px;
        margin:7px;
        min-width: 300px;
    }
    @include medium-up {
        height: 30px;
        margin: 10px;
        min-width: 500px;
    }
}