
// Foundations
@import "Foundation/variable";
@import "Foundation/mixins";
@import "Foundation/functions";

// Objects
@import "objects/grid";

html{
    font-size: $rootfontSize + px;
}

h1 {
    color : $colordarkgreen;
    font-family: pxToRem(10);
    font-size: pxToRem(10);
    @include title;
    @include small-up {
        color: brown;        
    }
    @include medium-up{
        color: aquamarine
    }

    span{
        font-size: 2rem;
    }
}

p{
    color: $colordarkgreen;
}

section {
    article{    
        h2{
            color:green;
            @include title;
            @include small-up {
                color: brown;        
            }

            @include medium-up{
                color: aquamarine
            }
        }
        p{
            color: orchid;
            
        }
    }
}

@import "components/product";